[submodule "exams"]
	path = exams
	url = git@github.com:clouder-zhai/test-repo
[submodule "learning-cxx"]
	path = learning-cxx
	url = git@github.com:clouder-zhai/learning-cxx.git
[submodule "rustlings"]
	path = rustlings
	url = git@github.com:clouder-zhai/rustlings.git
